# Contains personal development tools (.dmm, shortcuts and vtfedit)
debug

# Map input and output
*.dmm
*.vmf

# Hammer's files upon the map being created
*.vmx
*.log
*.lin
*.bsp
# Only created if a map has no leaks (won't see this in the current version)
*.prt
