# Contains personal development tools (.dmm, shortcuts and vtfedit)
debug

# Map input and output
*.dmm
*.vmf

# Hammer's files upon the map being created
*.vmx
*.log
*.lin
*.bsp
# I think this one you'll normally never see, unless you abort a compile. Still one of em
*.prt
